.card {
    margin-bottom: 10px;
}

.file-icon {
    width: 32px;
    height: 32px;
}

.inline-icon {
    width: 24px;
    height: 24px;
}

.flex-button-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.flex-button-container button {
    margin-right: 5px;
}

.flex-button-container button:last-child {
    margin-right: 0px;
}

.flex-stretch {
    flex: 1;
}