{% extends "common.html" %}

{% block title %}Files - Fileshelter{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <form action="{{ url_for('upload_view', directory=path) }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="send nudes" />
        </form>
        <form action="{{ url_for('create_directory_view', directory=path) }}" method="post">
            <input type="text" name="directory" placeholder="directory name"/>
            <input type="submit" value="create directory" />
        </form>
        <form action="{{ url_for('move_file_view', directory=path) }}" method="post">
            <input type="text" name="source_path" placeholder="source path"/>
            <input type="text" name="destination_path" placeholder="destination path"/>
            <input type="submit" value="move file" />
        </form>
    </div>
</div>
{% if path != '' %}
<div class="card">
    <div class="card-body">
        <a href="{{ url_for('files_list_view', directory=normpath(join(path, '..'))) }}">
            <img class="file-icon" src="{{ url_for('static', filename='upper_dir_icon.png') }}" /> Upper directory
        </a>
    </div>
</div>
{% endif %}
{% for file in files %}
<div class="card">
    <div class="card-body">
        {% if not file.directory %}
        <a href="{{ url_for('download_view', filepath=join(path, file.name)) }}">
            <img class="file-icon" src="{{ url_for('static', filename='file_icon.png') }}" />
        {% else %}
        <a href="{{ url_for('files_list_view', directory=join(path, file.name)) }}">
            <img class="file-icon" src="{{ url_for('static', filename='folder_icon.png') }}" />
        {% endif %}
            {{ file.name }}
        </a>
    </div>
</div>
{% endfor %}

{% endblock %}